{% extends "layout.html" %}
{% block content %}
    <div class="jumbotron">
    {% if message %}
        <h1>{{ message }}</h1>
        {% else %}
        <h1>Python Based Microsoft Exchange Email, Calendar and Contact App</h1>
        <p>Please signup to outlook before viewing your emails, calendar events and contacts.
        <p>
            <a class="btn btn-lg btn-primary" href="{{ signin_url }}" role="button" id="connect-button">Connect to
                                                                                                        Outlook</a>
        </p>
    {% endif %}
    </div>
{% endblock %}