{% extends "layout.html" %}
{% block content %}
<div class="jumbotron">
    {% if error_message %}
        <h1>{{ error_message }}</h1>
        <a class="btn btn-lg btn-primary" href="{{ signin_url }}" role="button" id="connect-button">Connect to
                                                                                                    Outlook</a>
    {% else %}
    <h1>Your Email <i style="font-size: medium">{{ mail }}</i></h1>
    <table class="table">
        <tr>
            <th>From</th>
            <th>Subject</th>
            <th>Received</th>
        </tr>

        {% for message in messages %}
            <tr>
                <td>{{ message.from.emailAddress.name }}</td>
                <td>{{ message.subject }}</td>
                <td>{{ message.receivedDateTime }}</td>
            </tr>
        {% endfor %}
    </table>
    {% endif %}
</div>
{% endblock %}